<!-- function for converting date to local -->
<%
    function convertUTCDateToLocalDate(date) {
        var newDate = new Date(date.getTime()+date.getTimezoneOffset()*60*1000);

        var offset = date.getTimezoneOffset() / 60;
        var hours = date.getHours();

        newDate.setHours(hours - offset);

        return newDate;   
    }
%>

<!-- News Feed -->
<div id="news-feed">
    <!-- News Feed Post -->
    <% if(locals.data){ %>
        <% for(let i = 0; i < locals.data.length; i++) { %>
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title"><%= locals.data[i].Title %></h2>

                    <% if (locals.data[i].Field1 != null && locals.data[i].Field1 != '') { %>
                        <p class="card-text"><%= locals.data[i].Question1 %></p>
                        <blockquote class="blockquote">
                            <p class="mb-0 blockquote-footer"><%= locals.data[i].Field1 %></p>
                        </blockquote>
                    <% } %>

                    <% if (locals.data[i].Field2 != null && locals.data[i].Field2 != '') { %>
                        <p class="card-text"><%= locals.data[i].Question2 %></p>
                        <blockquote class="blockquote">
                            <p class="mb-0 blockquote-footer"><%= locals.data[i].Field2 %></p>
                        </blockquote>
                    <% } %>

                    <% if (locals.data[i].Field3 != null && locals.data[i].Field3 != '') { %>
                        <p class="card-text"><%= locals.data[i].Question3 %></p>
                        <blockquote class="blockquote">
                            <p class="mb-0 blockquote-footer"><%= locals.data[i].Field3 %></p>
                        </blockquote>
                    <% } %>

                    <% if (locals.data[i].Field4 != null && locals.data[i].Field4 != '') { %>
                        <p class="card-text"><%= locals.data[i].Question4 %></p>
                        <blockquote class="blockquote"></blockquote>
                            <p class="mb-0 blockquote-footer"><%= locals.data[i].Field4 %></p>
                        </blockquote>
                    <% } %>

                </div>
                <div class="card-footer text-muted">

                    <% if (locals.data[i].PostTypeID == 1) { %>
                        <b>Suggestion</b>
                    <% } else if (locals.data[i].PostTypeID == 2) { %>
                        <b>Grievance</b>
                    <% } else if (locals.data[i].PostTypeID == 3) { %>
                        <b>Praise</b>
                    <% } else if (locals.data[i].PostTypeID == 4) { %>
                        <b>Announcement</b>
                    <% } %>

                    posted <%= convertUTCDateToLocalDate(locals.data[i].CreateDate).toLocaleString() %> by
                    <a class="name" href="javascript:void(0);" data-toggle="tooltip" data-html="true" title="
                            
                            <% if (locals.data[i].Email) { %>
                                <%= locals.data[i].Email%><br>
                            <% } %>

                            Role: <b><%= locals.data[i].Role%></b><br>
                            Location: <b><%= locals.data[i].Location%></b>
                        "</a><%= locals.data[i].Name || "Anonymous"%></a>
                </div>
            </div>
         <% } %>
    <% } %>

    <!-- store news feed data -->
    <script type='text/javascript'>
        let data =<%-JSON.stringify(locals.data)%>
    </script>
</div>