<!-- News Feed -->
<div id="news-feed">
    <!-- News Feed Post -->
    <% if(locals.data){ %>
        <!-- Data returned: FeedbackPostID, SystemUserID, Title, PostBody, Anonymous, CreateDate, -->
        <!-- SystemUserID, Name, Email, Username, Role, Location -->
        <% for(let i = 0; i < locals.data.length; i++) { %>
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title"><%= locals.data[i].Title %></h2>
                    <p class="card-text"><%= locals.data[i].PostBody %></p>
                </div>
                <div class="card-footer text-muted">
                    Posted on <%= locals.data[i].CreateDate.toLocaleString() %> by
                    <a class="name" href="javascript:void(0);" data-toggle="tooltip" data-html="true" title="
                            Role: <b><%= locals.data[i].Role%></b><br>
                            Location: <b><%= locals.data[i].Location%></b>
                        "</a><%= locals.data[i].Name || "Anonymous"%></a>
                </div>
            </div>
         <% } %>
    <% } %>
</div>