<!DOCTYPE html>
<html lang="en">

<head>
  <%- include partials/head_elements.ejs %>
</head>

<body class="has-feed has-public">
  <%- include partials/navigation.ejs %>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <!-- Post and News Feed sections from separate file to reduce redundancy -->
        <%- include partials/post_section_public.ejs %>
        <%- include partials/news_feed.ejs %>

        <% if(locals.error){ %>
        <p style="color: red"><%= error %></p>
        <% } %>

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>

      </div>

      <%- include partials/feed_sidebar.ejs %>

    </div>

    <!-- End Page Content -->
    <%- include partials/script_elements.ejs %>
  </div>
</body>

</html>